{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="alert alert-danger">
                <b>Fruity Delight</b>,
4 विद्यार्थियों द्वारा चलाया गया एक व्यवसाय है जो अन्य लोगो को मुख्य बाज़ार के अधिक एवं महंगे मूल्यों से <b>कम मूल्यो</b> पर लोगो को <b>उत्तम एवं स्वादिस्ट जूस</b> प्रदान करता है ।
            </p>

            <p class="alert alert-primary">

यह व्यवसाय दिल्ली के वर्तमान मुख्यमंत्री माननीय <b> श्री अरविंद केजरीवाल जी </b> द्वारा चलाए गए <b> बिजनेस ब्लास्टर </b> के कार्यक्रम की मदद से सम्भव हो पाया है ।
            </p>

            <p class="alert alert-warning">
यह व्यवसाय भारत के वर्तमान प्रधानमंत्री माननीय <b> श्री नरेंद्र दामोदर दास मोदी जी </b> के <b>डिजिटल भारत</b> एवं <b>आत्मनिर्भर भारत</b> के संघर्सो मे प्राथमिक रूप से मदद करता है और भारत को एक <b>श्रेस्ठ राष्ट्र</b> बनाने मे भी योगदान देता है ।

</p>

<p class="alert text-center alert-success">
    <strong>जय हिन्द, जय भारत ।।</strong>
</p>

        </div>
    </div>
</div>

{% endblock body %}