{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert border border-dark alert-info">
                <b>हमारा समूह 4 विद्यार्थियों का समूह है ।</b>
                <ol>
                    <li>अभिषेक कुमार वर्मा</li>
                    <li>कामरान अंसारी</li>
                    <li>दृष्टि सिंह</li>
                    <li>ज्योति</li>
                </ol>
            </div>

            <div class="alert alert-danger">
                <div class="alert text-center">
                    <b>एवं हमारे कार्य निम्नलिखित है ।</b>
                </div>
                
                <div class="border border-dark alert">
                    <b>अभिषेक कुमार वर्मा</b> -
                    <ol>
                        <li>कच्चा एवं अपुष्ट फल खरीदना</li>
                        <li>अंत मे प्राप्त जैविक अपशिष्ट पदार्थ का निवारण करना</li>
                        <li>लाभ हानि एवं पैसे संबंधीत कार्य</li>
                    </ol>
                </div>
                
                <div class="border border-dark alert">
                <b>कमरान अंसारी</b> - 
                <ol>
                    
                    <li>मुख्य बाज़ार मे चल रहे दामो पर नज़र रखना</li>
                    <li>आस पास के समाज मे मांग एवं रुचियों पर नज़र रखना</li>
                    <li>लाभ हानि एवं पैसे संबंधीत कार्य</li>
                </ol>
            </div>
            
            <div class="border border-dark alert">
                <b>दृष्टी सिंह</b> - 
                <ol>
                    
                    <li>ऑर्डर लेना</li>
                    <li>ऑनलाइन ऑर्डर की देख रेख करना</li>
                    <li>लाभ हानि एवं पैसे संबंधीत कार्य</li>
                </ol>
            </div>
            
            <div class="border border-dark alert">
                <b>ज्योती</b> - 
                <ol>
                    <li>उपभोक्ताओं के शिकायतो की देख रेख और निवारण कर पुर्ण रूप से संतुष्ट करना</li>
                    <li>लाभ हानि एवं पैसे संबंधीत कार्य</li>
                </ol>
            </div>
            
        </div>
        
    </div>
</div>
</div>

{% endblock body %}